{% extends './base.html' %}
{% load static %}
{% block title %}Category Page{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">

        {% for category in categories %}
                <h4>{{ category.category_name }}</h4>
                
                <br>
                <br>
                <hr>
                {% for product in category.products.all %}
                <div class="col-lg-4">
                    <div class="box-element product">
                        <a href="{% url 'productdetail' product.id %}" class="btn">
                            <div class="item"><img class="thumbnail" src="{{product.product_image.url}}" alt="" height="200px"><br><span class="fw-bold">{{product.title}}</span><br><span class="fs-5">Rs.{{product.price}}</span></div></a>
                            
                    </div>
                </div>
                {% endfor %}
        {% endfor %} 
        <br>
        <hr>

    </div>           
</div>
{% endblock content %}
